/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
}

.video-container {

}

.video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style the video
#videoBG {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
*/

/* Media query for when the window's aspect ratio matches the video's aspect ratio */
@media (aspect-ratio: 16/9) {
    #videoBG {
        object-fit: contain; /* Show the full video */
    }
}
